node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
config.yaml
app-release*
*.jks*
release/
.gradle
app/assets/rutas.json
.husky/_
coverage
.vscode
android/app/src/main/assets/public
android/app/build
