html, body {
  font-family: "Nunito";
  overflow-x: hidden;
  height: 100%;
}

[data-bs-theme=light] {
  --bs-dark: #5a5c69;
  --bs-dark-rgb: 90, 92, 105;
  --bs-primary: #4E73DF;
  --bs-primary-rgb: 78, 115, 223;
  --primary-dark: #405FB9;
  --bs-success: #1cc88a;
  --bs-secondary: #FF916B;
  --bs-body-color: #5a5c69;
  --bs-body-bg: #F8F9FC;
}

.border {
  border-color: #d7d9e4!important;
  border-width: 2px!important;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bs-dark);
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-success);
  --bs-btn-border-color: var(--bs-success);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #157347;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-success);
  --bs-btn-disabled-border-color: var(--bs-success);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
}

.modal-header h1 {
  color: var(--bs-primary);
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--bs-secondary) 0%, var(--bs-body-bg) 50%,var(--bs-secondary) 100%)!important;
}

.nav-pills {
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: var(--primary-dark);
  font-size: 0.80rem;
}

.nav-pills .nav-link {
  color: #FFF;
  background: var(--bs-primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

#tabs {
  margin: -0.5rem;
  top: 3.5rem;
}

.table>:not(caption)>*>* {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
