body {
  caret-color: var(--bs-secondary);
  font-family: Nunito, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

::selection {
  background: var(--bs-primary)!important;
  color: #fff!important;
}

img {
  pointer-events: none;
  user-select: none;
}

.border {
  border-color: var(--border)!important;
  border-width: 2px!important;
}

a {
  color: var(--bs-dark);
  font-weight: bold;
  text-decoration: none;
  -webkit-user-drag: none;
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--primary-hover) 0%, var(--bs-secondary) 50%,var(--primary-hover) 100%)!important;
  box-shadow: 0 0 10px rgb(255 255 255 / 50%);
}

.router-link-active.router-link-exact-active.nav-link {
  background: var(--nav-active);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--nav-hover);
  color: var(--bs-body-color);
}

.accordion {
  --bs-accordion-bg: var(--bg-body-tertiary);
}

.hover:hover {
  background: var(--nav-hover)!important;
}

.autocomplete-list {
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
}

.z-10 {
  z-index: 10;
}

.bg-disabled {
  background-color: var(--bs-secondary-bg);
}
