.tabs.nav {
  margin: -0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-pills {
  --bs-nav-pills-link-active-color: #fff;
  font-size: 0.80rem;
}

.nav-pills .nav-link {
  background: var(--bs-primary);
  color: #FFF;
  padding-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
}

.nav-pills .nav-link:hover {
  background: var(--primary-hover);
}

.nav-pills .nav-link.active {
  background: var(--primary-dark)!important;
}

.nav-link:hover {
  background: var(--nav-hover);
}
