table { 
  border-collapse: separate;
  border-left: 0;
  border-spacing: 0;
}

.table>:not(caption)>*>* {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

tr:last-child td {
  border-bottom: 0;
}

.table-primary {
  --bs-table-color: #fff;
  --bs-table-bg: var(--bs-primary);

  color: #fff;
  border-color: var(--bs-primary);
}
