.page-left-enter-active,
.page-right-enter-active,
.page-left-leave-active,
.page-right-leave-active {
  height: 100%;
  height: available;
  height: fill-available;
  height: stretch;
  left: 0;
  position: fixed;
  right: 0;
  transition: all 0.3s linear;
}

.page-left-enter-from, .page-right-leave-to {
  transform: translateX(100%);
}

.page-left-leave-to, .page-right-enter-from {
  transform: translateX(-100%);
}

.page-left-enter-to, .page-right-enter-to {
  transform: translateX(0);
}

.tab-enter-active,
.tab-leave-active {
  transition: all 0.2s;
}

.tab-enter-from,
.tab-leave-to {
  opacity: 0;
  transform: translate(0, -10px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
